@font-face {
    font-family: "ColfaxAI";
    src: url(https://cdn.openai.com/API/fonts/ColfaxAIRegular.woff2) format("woff2"),
         url(https://cdn.openai.com/API/fonts/ColfaxAIRegular.woff) format("woff");
    font-weight: normal;
    font-style: normal;
  }
  
@font-face {
    font-family: "ColfaxAI";
    src: url(https://cdn.openai.com/API/fonts/ColfaxAIBold.woff2) format("woff2"),
         url(https://cdn.openai.com/API/fonts/ColfaxAIBold.woff) format("woff");
    font-weight: bold;
    font-style: normal;
  }

body {
    font-family: "ColfaxAI", sans-serif;
    margin: 0; 
}

.pantalla-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #ffffff;
}

/* Encabezado */
.pantalla-header {
    font-family: "ColfaxAI", sans-serif;
    background-color: #ffffff;
    color: #55A1BF;
    text-align: center;
    padding: 20px 0; 
    font-size: 22px;
    font-weight: bold;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%; 
    z-index: 10;
    transition: top 0.3s ease;
}

/* Imágenes a los lados */
.pantalla-header .header-images {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px; 
    width: 100%;
    box-sizing: border-box;
}

.pantalla-header .header-images img {
    height: 65px;
    object-fit: contain;
}

.pantalla-header.hidden {
    top: -100px;
}

/* Barra de navegación */
.pantalla-nav {
    font-family: "ColfaxAI", sans-serif;
    background-color: #55A1BF;
    text-align: right;
    padding: 10px 20px; 
    margin-top: 10px;
}

/* Links de navegación */
.pantalla-nav a {
    color: white;
    text-decoration: none;
    font-size: 16px;
    margin-left: 20px;
}

.pantalla-footer {
    font-family: "ColfaxAI", sans-serif;
    margin-top: auto;
    background-color: #55A1BF;
    color: white;
    text-align: center;
    padding: 13px 20px; 
    width: 100%;
    position: fixed; 
    bottom: 0; 
    left: 0;
    display: flex; 
    justify-content: center; 
    align-items: center; 
    box-sizing: border-box;
}